@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-weight: 300;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none !important;
}

:root {
  --blue: #0094de;
  --orange: #ff6600;
  --purple: #660066;
}

::selection {
  color: #fff;
  background-color: var(--orange);
}

body {
  overflow-x: hidden;
  /* overflow-y: auto; */
}

body mark {
  color: var(--orange);
  font-family: Anton, serif;
  background-color: rgba(0, 0, 0, 0);
}

body main {
  top: 0;
  width: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
}

body main section {
  width: 100%;
  display: grid;
  margin: 0 auto;
  position: relative;
  place-items: center;
}

body main section img {
  vertical-align: middle;
}

body main section mark {
  color: var(--orange);
  font-family: Anton, serif;
  background-color: rgba(0, 0, 0, 0);
}

.scroll-top {
  width: 50px;
  height: 50px;
  display: grid;
  z-index: 99999;
  cursor: pointer;
  position: fixed;
  visibility: hidden;
  place-items: center;
  bottom: 15px; 
  right: 15px;  
  background-color: var(--orange);
}

.scroll-top svg {
  width: 24px;
  opacity: 0.6;
  height: 24px;
  color: #fff;
}

.scroll-top:hover svg,
.scroll-top.active:hover {
  opacity: 1;
}

.scroll-top.active {
  opacity: 0.6;
  visibility: visible;
}
