.counter-gen-div {
    display: flex;
    background: url(../images/counterimg.webp) fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    position: relative;
}

.counter-gen-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 90%;
    text-align: center;
    position: relative;
    z-index: 2; 
    margin: 4rem;
}

.counter-box h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin: 0.5rem 0;
}

.counter-box p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 
        0 0 8px rgba(0, 0, 0, 0.7),
        0 0 15px rgba(0, 0, 0, 0.5),
        0 0 30px rgba(0, 0, 0, 0.3);
    margin: 0.25rem 0;
    letter-spacing: 0.05rem;
}
.counter-item{
    
}