footer {
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  background: var(--purple);
}

footer .footer-content {
  gap: 20px;
  width: 85%;
  display: flex;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: space-between;
}

.footer-content .footer-info,
.footer-content .footer-news,
.footer-content .footer-contact {
  width: 100%;
  height: 100%;
  display: grid;
}

.footer-content .footer-news h4,
.footer-content .footer-contact h4 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 40px;
  font-family: Anton, sans-serif;
}

.footer-content .footer-info {
  gap: 20px;
}

.footer-content .footer-info a {
  gap: 15px;
  display: flex;
  align-items: center;
}

.footer-content .footer-info a h4 {
  font-size: 2rem;
  color: var(--orange);
  font-family: Anton, sans-serif;
}

.footer-content .footer-info p {
  color: #fff;
  font-size: 1rem;
  text-wrap: balance;
}

.footer-content .footer-info div {
  gap: 20px;
  display: flex;
  align-items: center;
}

.footer-content .footer-info div a svg {
  color: #fff;
}

.footer-content .footer-contact p svg,
.footer-content .footer-info div a:hover svg {
  color: var(--orange);
}

.footer-content .footer-contact p {
  gap: 10px;
  padding: 1rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-top: 1px solid #ffffff1a;
}

.footer-content .footer-contact p:last-child {
  border-bottom: 1px solid #ffffff1a;
}

.footer-content .footer-contact p span,
.footer-content .footer-contact p a:hover {
  color: #fff;
}

.footer-content .footer-contact p a {
  color: var(--orange);
}

.footer-content .footer-contact p a {
  opacity: 0.7;
}

.footer-content .footer-news p {
    color: #fff;
    font-size: 1rem;
    text-wrap: balance;
}

.footer-content .footer-news div {
    height: 60px;
    position: relative;
}

.footer-content .footer-news div input {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1rem;
    padding-left: 30px;
    background: #00000000;
    border: 1px solid #ffffff1a;
    padding: 1.2rem 4rem 1.2rem 2rem;
}

.footer-content .footer-news div input::placeholder {
    color: #fff;
}

.footer-content .footer-news div button {
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    text-align: center;
    background: #00000000;
}

.footer-content .footer-news div button:hover {
    background: var(--orange);
}

.footer-content .footer-news div button:hover svg {
    color: var(--orange);
}

.footer-content .footer-news div button svg {
    color: var(--orange);
}

.footer-content .footer-news div button:hover svg {
    color: var(--purple);
}

footer .footer-copy {
  padding: 1.2rem;
  background: #fff;
  text-align: center;
}
