header {
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 1rem;
  font-size: 14px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

header:after {
  z-index: 1;
  content: "";
  height: 1px;
  display: block;
  inset: auto 0 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}

header p {
  gap: 10px;
  margin: 0;
  display: flex;
  color: #fff;
  align-items: center;
}

header p svg {
  fill: var(--orange);
}
