header {
  z-index: 9;
  width: 100%;
  display: flex;
  padding: 1rem;
  font-size: 14px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

header:after {
  height: 1px;
  content: "";
  display: block;
  inset: auto 0 0;
  position: absolute;
  background-color: #ffffff1a;
}

header p {
  gap: 10px;
  display: flex;
  align-items: center;
}

header p svg {
  fill: var(--orange);
}

header p a {
  color: #fff;
}

header p a:hover {
  color: var(--orange);
}

@media all and (min-width: 700px) {
  header {
    padding: 0.6rem 6rem;
  }
}