.hero {
  height: 40dvh;
}

.home.hero {
  height: 70dvh;
}

.hero > img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero > span {
  inset: 0;
  opacity: 0.5;
  position: absolute;
  background: #1a202e;
}

.hero .hero-nav {
  z-index: 5;
  width: 100%;
  display: flex;
  align-self: start;
  position: relative;
  padding: 4rem 1rem 1rem;
  justify-content: space-between;
  transition: top 0.3s ease-in-out;
}

.hero-nav.sticky {
  top: 0;
  left: 0;
  z-index: 9;
  padding: 1rem;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(102, 0, 102, 0.8);
  transition: background-color 0.3s ease-in-out;
}

.hero-nav .hero-logo {
  gap: 15px;
  display: flex;
  align-items: center;
}

.hero-nav .hero-logo h4 {
  font-size: 2rem;
  color: var(--orange);
}

.hero-nav .hero-list {
  gap: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
}

.hero-nav .hero-overlay + .hero-list {
  inset: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  position: absolute;
  background: #23222d;
  justify-content: flex-end;
}

.hero-list ul {
  display: none;
}

.hero-list label {
  cursor: pointer;
}

.hero-list label input {
  display: none;
}

.hero-list label svg {
  height: 2.5em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list label svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list label svg path:first-child {
  stroke-dasharray: 12 63;
}

.hero-list label input:checked + svg {
  transform: rotate(-45deg);
}

.hero-list label input:checked + svg path:first-child {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.hero-nav .hero-overlay {
  inset: 0;
  z-index: 9;
  width: 100%;
  height: 100dvh;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 4px 3px rgba(50, 50, 50, 0.05);
}

.hero-nav .hero-overlay div {
  display: none;
}

.hero-nav .hero-overlay ul {
  gap: 20px;
  display: grid;
  margin: 100px auto;
  place-items: center;
}

.hero-nav .hero-overlay ul li a {
  color: #000;
  font-weight: 400;
  font-size: 1.2rem;
}

.hero-nav .hero-overlay ul li a:hover,
.hero-nav .hero-overlay ul li a.active {
  color: var(--orange);
}

.hero-text {
  width: 100%;
  color: #fff;
  padding: 1rem;
  inset: 50% auto;
  user-select: none;
  position: absolute;
  height: max-content;
}

.home .hero-text {
  padding: 0;
  width: max-content;
}

.hero-nav:has(div.hero-overlay) + .hero-text h2 {
  z-index: -1;
}

.hero-text h2 {
  z-index: 1;
  opacity: 0.08;
  line-height: 1;
  font-size: 6rem;
  font-weight: 400;
  translate: 0 -50%;
  position: absolute;
  inset: 50% auto auto;
  font-family: Anton, sans-serif;
}

.hero-text h3 {
  line-height: 1;
  font-size: 2rem;
  font-weight: 400;
  font-family: Anton, sans-serif;
}

.hero-text p {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.home .hero-text p {
  text-align: center;
}

.hero-text p a,
.hero-text p span {
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.hero-text p span,
.hero-text p a:hover {
  color: var(--orange);
}

.hero .hero-modal {
  gap: 30px;
  width: 90%;
  z-index: 2;
  bottom: -100%;
  display: grid;
  margin: 0 auto;
  padding: 60px 0;
  align-self: end;
  position: absolute;
  background: var(--purple);
}

.hero-modal div {
  color: #fff;
  padding: 0 40px;
  text-align: center;
}

.hero-modal div h3 {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: Anton, sans-serif;
}

.hero-modal div p {
  font-weight: 700;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

@media all and (min-width: 700px) {
  .hero {
    height: 45dvh;
  }

  .home.hero {
    height: 100dvh;
  }

  .hero .hero-nav {
    padding: 4rem 6rem 1rem;
  }

  .hero .hero-nav.sticky {
    padding: 1.5rem 6rem;
  }

  .hero-nav .hero-overlay + .hero-list {
    padding: 0;
    height: inherit;
    position: relative;
    background: transparent;
  }

  .hero-list ul {
    gap: 10px;
    color: red;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .hero-list ul li {
    margin: 0 16px;
  }

  .hero-list ul li a {
    color: #fff;
  }

  .hero-list ul li a:hover,
  .hero-list ul li a.active {
    color: var(--orange);
  }

  .hero-nav .hero-overlay {
    z-index: 10;
    width: 325px;
    inset: 0 0 0 auto;
    box-shadow: 0 0 4px 3px rgba(50, 50, 50, 0.05);
  }

  .hero-nav .hero-overlay div::-webkit-scrollbar {
    opacity: 0;
    width: 7px;
    height: 200vh;
    border-radius: 1px;
    transition: opacity 0.2s linear;
    background: rgba(127, 127, 127, 0.4);
  }

  .hero-nav .hero-overlay:hover div::-webkit-scrollbar {
    opacity: 0.7;
  }

  .hero-nav .hero-overlay div {
    width: 325px;
    height: 50px;
  }

  .hero-nav .hero-overlay div {
    display: block;
  }

  .hero-nav .hero-overlay ul {
    display: none;
  }

  .hero-nav:has(div.hero-overlay) + .hero-text h2 {
    z-index: 1;
  }

  .hero-text {
    padding-left: 15rem;
  }

  .hero-text h2 {
    font-size: 25rem;
    translate: -20% -50%;
  }

  .hero-text h3 {
    font-size: 3rem;
  }

  .home .hero-text h3 {
    font-size: 5rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }

  .hero .hero-modal {
    width: 70%;
    bottom: -15%;
    display: flex;
    padding: 60px;
    align-items: center;
  }

  .hero-modal div {
    padding: 0;
    width: 100%;
  }
}
