.services {
  gap: 30px;
  height: auto;
  padding: 50px 0;
  background: url("../images/hero.webp") no-repeat 50% -20px / cover fixed;
}

.services span {
  inset: 0;
  opacity: 0.5;
  position: absolute;
  background: #1a202e;
}

.services .services-heading {
  display: grid;
  color: #fff;
  position: relative;
  place-items: center;
}

.services .services-heading:after {
  content: "";
  height: 2px;
  width: 100px;
  display: block;
  background: var(--orange);
}

.services .services-heading h2 {
  font-weight: 400;
  font-size: 2.4rem;
  font-family: Anton, sans-serif;
}

.services .services-heading p {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.services .services-container {
  z-index: 1;
  width: 100%;
  display: grid;
  margin: 0 auto;
}

.services .services-container div {
  gap: 5px;
  display: grid;
  color: #fff;
  padding: 10px 0;
  place-items: center;
}

.services-container div h3 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: Anton, sans-serif;
}

.services-container div a {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  font-family: Anton, sans-serif;
}

.services-container div a:hover {
  color: var(--orange);
}

.services-container div p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media all and (min-width: 700px) {
  .services {
    padding: 100px 0;
  }

  .services .services-heading h2 {
    font-size: 3.125rem;
  }

  .services .services-container {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }

  .services .services-container div {
    /* padding: 30px 50px; */
    text-align: center;
    width: 20rem;
  }
}