/* Work.css */

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.open-gallery-button {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.open-gallery-button:hover {
    background-color: #0056b3;
}

.load-more{
  width: 8rem;
  height: 2.5rem;
  font-size: 19px;
  font-weight: bold;
  background: var(--orange);
  color: #fff;
}
.load-more:hover{
  color: var(--orange);
  background: #fff;
  border: 2px var(--orange) solid;
}